body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px; /* 最大幅を指定 */
}

.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%; /* 幅を100%に */
    max-width: 300px; /* 最大幅を指定 */
    margin-bottom: 10px;
}

.display {
    background-color: #333;
    color: #fff;
    font-size: 1.2em; /* フォントサイズを調整 */
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: right;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px; /* ボタン間の隙間を調整 */
}

.btn {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px; /* パディングを調整 */
    font-size: 0.9em; /* フォントサイズを調整 */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #e0e0e0;
}

.btn:active {
    transform: scale(0.95);
}

.zero {
    grid-column: span 2;
}

.btn:nth-child(4n+1) {
    background-color: #f9f9f9;
}

.btn:nth-child(4n+1):hover {
    background-color: #e8e8e8;
}

.description {
    width: 100%;
    max-width: 300px; /* 最大幅を指定 */
    text-align: center;
    font-size: 0.9em;
    color: #555;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    height: auto;
    line-height: 1.4em; /* 行間を調整して読みやすくする */
    white-space: normal; /* 改行を許可 */
}

